body
{
  background: #f7f7f7;
  font-family: PT Sans;
}

section
{
  padding: 20px 0;
}

header
{
  padding-top: 20px;
}

  header h1
  {
    color: #000;
  }

  header hr
  {
    border: 1px solid #e5e5e5;
    margin: 0;
  }

img
{
  max-width: 100%;
}

p.snippet .no-underline
{
  text-decoration: none;
}

.box-shadow
{
  box-shadow: 0 0 3px #777777;
}

.main-nav
{
  margin-bottom: 0;
  border-bottom: 0;
}

.nav > li,
.nav > li > a
{
  font-size: 22px;
  color: #7B8186;
}

.nav > li > a:hover,
.nav > li > a:focus
{
  background: transparent;
  text-decoration: underline;
}

ul.navbar-nav
{
  padding-top: 20px;
}

.navbar nav > ul > li
{
  padding: 0 20px;
}

#about,
#work,
.professional-work
{
  padding-top: 30px;
}

#about h2
{
  color: #000000;
}

p.snippet
{
  color: #777777;
  font-size: 1.75em;
  line-height: 1.5;
}

  p.snippet a
  {
    color: #777777;
    text-decoration: underline;
  }

#work h2
{
  color: #35a7ce; /* #7B8186; */
  margin-top: 5em;
}

#work a
{
  text-decoration: none;
}

#resume
{
  background-image: url('../imgs/resume.svg');
  width: 100%;
  height: 300px;
  background-size: cover;
}

#contact
{

}

.overlay
{
  background: rgba(0,0,0,.75);
  padding: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.button:hover .overlay {
    opacity: 1;
}

#resume span
{
  padding-top: 21%;
}

.button span
{
  font-size: 2em;
  font-weight: 900;
  color: rgba(255,255,255,.85);
  word-break: inherit;
  white-space: normal;
  padding-left: 1%;
  padding-right: 1%;
  display: block;
}

.email
{
  font-size: 4.5em;
  color: #000;
}

@media only screen and (max-width: 1080px)
{
  #about h2,
  #work h2
  {
    margin-top: 1em;
  }

  #resume
  {
    height: 200px;
  }
}
